ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
a {
  color: inherit;        /* takes color from parent element */
  text-decoration: none; /* removes underline */
}
.header {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}